# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Force text files to have LF
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.plist text eol=lf
*.body text eol=lf
*.attr text eol=lf
*.ancestry text eol=lf
*.names text eol=lf
*.tmpl text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.webp binary
*.icns binary
*.xcf binary
