<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>
	<key>CFBundleExecutable</key>
	<string>gcs</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.trollworks.gcs5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GCS</string>
	<key>CFBundleDisplayName</key>
	<string>GCS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>SHORT_APP_VERSION</string>
    <key>CFBundleSignature</key>
    <string>GCS5</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
	<key>CFBundleVersion</key>
	<string>LONG_APP_VERSION</string>
	<key>NSHumanReadableCopyright</key>
	<string>©COPYRIGHT_YEARS by Richard A. Wilkes
All rights reserved</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.adm</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Trait Modifiers Library</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>adm_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.adq</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Traits Library</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>adq_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.eqm</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Equipment Modifiers Library</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>eqm_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.eqp</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Equipment Library</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>eqp_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.gcs</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GURPS Character Sheet</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>gcs_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.gct</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Character Template</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>gct_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.not</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Notes Library</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>not_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.skl</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Skills Library</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>skl_doc.icns</string>
        </dict>
        <dict>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.trollworks.gcs.spl</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GCS Spells Library</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSIsAppleDefaultForType</key>
            <true/>
            <key>CFBundleTypeIconFile</key>
            <string>spl_doc.icns</string>
        </dict>
    </array>
</dict>
</plist>
