<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleExecutable</key>
		<string>@APP_EXE@</string>
		<key>CFBundleIconFile</key>
		<string>app.icns</string>
		<key>CFBundleIdentifier</key>
		<string>com.trollworks.gcs</string>
		<key>CFBundleName</key>
		<string>@APP_NAME@</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>@APP_VERSION@</string>
		<key>CFBundleVersion</key>
		<string>@APP_VERSION@</string>
		<key>CFBundleSignature</key>
		<string>@APP_SIGNATURE@</string>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.role-playing-games</string>
		<key>LSArchitecturePriority</key>
		<array>
			<string>x86_64</string>
			<string>i386</string>
		</array>
		<key>LSEnvironment</key>
		<dict>
			<key>LC_CTYPE</key>
			<string>UTF-8</string>
		</dict>
		<key>LSMinimumSystemVersion</key>
		<string>10.7.0</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright ©1998-@COPYRIGHT_YEAR@ by @COPYRIGHT_OWNER@. All rights reserved.</string>
		<key>NSHighResolutionCapable</key>
		<true/>
		<key>NSSupportsAutomaticGraphicsSwitching</key>
		<true/>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeName</key>
				<string>com.trollworks.gcs.gcs</string>
				<key>CFBundleTypeIconFile</key>
				<string>gcs.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.gcs</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>com.trollworks.gcs.gct</string>
				<key>CFBundleTypeIconFile</key>
				<string>gct.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.gct</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>com.trollworks.gcs.glb</string>
				<key>CFBundleTypeIconFile</key>
				<string>glb.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.glb</string>
				</array>
			</dict>
		</array>
		<key>UTExportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.gcs</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gcs.trollworks.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Character Sheet</string>
				<key>UTTypeIconFile</key>
				<string>gcs.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.gcs</string>
					<key>public.filename-extension</key>
					<array>
						<string>gcs</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs-character.sheet</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.gct</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gcs.trollworks.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Character Template</string>
				<key>UTTypeIconFile</key>
				<string>gct.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.gct</string>
					<key>public.filename-extension</key>
					<array>
						<string>gct</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs-character.template</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.glb</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gcs.trollworks.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Library</string>
				<key>UTTypeIconFile</key>
				<string>glb.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.glb</string>
					<key>public.filename-extension</key>
					<array>
						<string>glb</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs-library</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
