<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>{{.AppName}}</string>
	<key>CFBundleDisplayName</key>
	<string>{{.AppName}}</string>
	<key>CFBundleIdentifier</key>
	<string>{{.AppIdentifier}}</string>
	<key>CFBundleVersion</key>
	<string>{{.AppVersion}}</string>
	<key>CFBundleShortVersionString</key>
	<string>{{.ShortVersion}}</string>
    <key>LSMinimumSystemVersion</key>
    <string>{{.MinimumSystemVersion}}</string>
	<key>CFBundleExecutable</key>
	<string>{{.AppCmdName}}</string>
	<key>NSHumanReadableCopyright</key>
	<string>{{.Copyright}}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleSpokenName</key>
	<string>{{.SpokenName}}</string>
    <key>LSApplicationCategoryType</key>
    <string>{{.CategoryUTI}}</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
    <key>CFBundleDocumentTypes</key>
    <array>
{{- range .FileInfo}}
        <dict>
            <key>CFBundleTypeName</key>
            <string>{{.Name}}</string>
            <key>CFBundleTypeIconFile</key>
            <string>{{.Icon}}</string>
            <key>CFBundleTypeRole</key>
            <string>{{.Role}}</string>
            <key>LSHandlerRank</key>
            <string>{{.Rank}}</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>{{.UTI}}</string>
            </array>
        </dict>
{{- end}}
    </array>
	<key>UTExportedTypeDeclarations</key>
	<array>
{{- range .FileInfo}}
{{- if eq .Rank "Owner"}}
		<dict>
			<key>UTTypeIdentifier</key>
			<string>{{.UTI}}</string>
			<key>UTTypeDescription</key>
			<string>{{.Name}}</string>
			<key>UTTypeIconFile</key>
			<string>{{.Icon}}</string>
			<key>UTTypeConformsTo</key>
			<array>
{{- range .ConformsTo}}
				<string>{{.}}</string>
{{- end}}
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
{{- range .Extensions}}
					<string>{{.}}</string>
{{- end}}
				</array>
				<key>public.mime-type</key>
				<array>
{{- range .MimeTypes}}
					<string>{{.}}</string>
{{- end}}
				</array>
			</dict>
		</dict>
{{- end}}
{{- end}}
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
{{- range .FileInfo}}
{{- if ne .Rank "Owner"}}
		<dict>
			<key>UTTypeIdentifier</key>
			<string>{{.UTI}}</string>
			<key>UTTypeDescription</key>
			<string>{{.Name}}</string>
			<key>UTTypeConformsTo</key>
			<array>
{{- range .ConformsTo}}
				<string>{{.}}</string>
{{- end}}
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
{{- range .Extensions}}
					<string>{{.}}</string>
{{- end}}
				</array>
				<key>public.mime-type</key>
				<array>
{{- range .MimeTypes}}
					<string>{{.}}</string>
{{- end}}
				</array>
			</dict>
		</dict>
{{- end}}
{{- end}}
	</array>
</dict>
</plist>