<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LSMinimumSystemVersion</key>
		<string>10.9</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleAllowMixedLocalizations</key>
		<true/>
		<key>CFBundleExecutable</key>
		<string>gcs</string>
		<key>CFBundleIconFile</key>
		<string>app.icns</string>
		<key>CFBundleIdentifier</key>
		<string>com.trollworks.gcs</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>GCS</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleVersion</key>
		<string>4.11.0.20180611185115</string>
		<key>CFBundleShortVersionString</key>
		<string>4.11</string>
		<key>CFBundleSignature</key>
		<string>RWGS</string>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.role-playing-games</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 1998-2018 by Richard A. Wilkes. All rights reserved.</string>
		<key>NSHighResolutionCapable</key>
		<true/>
		<key>NSSupportsAutomaticGraphicsSwitching</key>
		<true/>
		<key>LSArchitecturePriority</key>
		<array>
			<string>x86_64</string>
			<string>i386</string>
		</array>
		<key>LSEnvironment</key>
		<dict>
			<key>LC_CTYPE</key>
			<string>UTF-8</string>
		</dict>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GURPS Character Sheet</string>
				<key>CFBundleTypeIconFile</key>
				<string>gcs.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.gcs</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GCS Advantages Library</string>
				<key>CFBundleTypeIconFile</key>
				<string>adq.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.adq</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GCS Equipment Library</string>
				<key>CFBundleTypeIconFile</key>
				<string>eqp.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.eqp</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GCS Skills Library</string>
				<key>CFBundleTypeIconFile</key>
				<string>skl.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.skl</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GCS Spells Library</string>
				<key>CFBundleTypeIconFile</key>
				<string>spl.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.spl</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GCS Notes Library</string>
				<key>CFBundleTypeIconFile</key>
				<string>not.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.not</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GCS Character Template</string>
				<key>CFBundleTypeIconFile</key>
				<string>gct.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.gct</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>GCS Library</string>
				<key>CFBundleTypeIconFile</key>
				<string>glb.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.glb</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>PDF Files</string>
				<key>CFBundleTypeIconFile</key>
				<string>pdf.icns</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.trollworks.gcs.pdf</string>
				</array>
			</dict>
		</array>
		<key>UTExportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.gcs</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GURPS Character Sheet</string>
				<key>UTTypeIconFile</key>
				<string>gcs.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.gcs</string>
					<key>public.filename-extension</key>
					<array>
						<string>gcs</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.gcs</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.adq</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Advantages Library</string>
				<key>UTTypeIconFile</key>
				<string>adq.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.adq</string>
					<key>public.filename-extension</key>
					<array>
						<string>adq</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.adq</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.eqp</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Equipment Library</string>
				<key>UTTypeIconFile</key>
				<string>eqp.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.eqp</string>
					<key>public.filename-extension</key>
					<array>
						<string>eqp</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.eqp</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.skl</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Skills Library</string>
				<key>UTTypeIconFile</key>
				<string>skl.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.skl</string>
					<key>public.filename-extension</key>
					<array>
						<string>skl</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.skl</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.spl</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Spells Library</string>
				<key>UTTypeIconFile</key>
				<string>spl.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.spl</string>
					<key>public.filename-extension</key>
					<array>
						<string>spl</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.spl</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.not</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Notes Library</string>
				<key>UTTypeIconFile</key>
				<string>not.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.not</string>
					<key>public.filename-extension</key>
					<array>
						<string>not</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.not</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.gct</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Character Template</string>
				<key>UTTypeIconFile</key>
				<string>gct.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.gct</string>
					<key>public.filename-extension</key>
					<array>
						<string>gct</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.gct</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.glb</string>
				<key>UTTypeReferenceURL</key>
				<string>http://gurpscharactersheet.com</string>
				<key>UTTypeDescription</key>
				<string>GCS Library</string>
				<key>UTTypeIconFile</key>
				<string>glb.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.glb</string>
					<key>public.filename-extension</key>
					<array>
						<string>glb</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.glb</string>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.trollworks.gcs.pdf</string>
				<key>UTTypeReferenceURL</key>
				<string>https://www.adobe.com/devnet/pdf/pdf_reference_archive.html</string>
				<key>UTTypeDescription</key>
				<string>PDF Files</string>
				<key>UTTypeIconFile</key>
				<string>pdf.icns</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.xml</string>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>.pdf</string>
					<key>public.filename-extension</key>
					<array>
						<string>pdf</string>
					</array>
					<key>public.mime-type</key>
					<string>application/gcs.pdf</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
