// Copyright (c) 1998-2026 by Richard A. Wilkes. All rights reserved.
//
// This Source Code Form is subject to the terms of the Mozilla Public
// License, version 2.0. If a copy of the MPL was not distributed with
// this file, You can obtain one at http://mozilla.org/MPL/2.0/.
//
// This Source Code Form is "Incompatible With Secondary Licenses", as
// defined by the Mozilla Public License, version 2.0.

{{$info := . -}}
{{$name := toIdentifier .Name -}}
package {{fileLeaf .Pkg}}

import (
	{{- if .HasOldKeys}}
	"slices"
	{{- end}}
	"strings"
    {{- if .NeedI18N}}

	"github.com/richardwilkes/toolbox/v2/i18n"
	{{- end}}
)

// Possible values.
const (
	{{- range $i, $one := .Values}}
	{{$info.IDFor $one}}{{if eq $i 0}} {{$name}} = iota{{end}}
	{{- end}}
)

// Default{{$name}} is the default value.
const Default{{$name}} {{$name}} = {{$info.IDFor .Default}}

// First{{$name}} is the first valid value.
const First{{$name}} {{$name}} = {{$info.IDFor .First}}

// Last{{$name}} is the last valid value.
const Last{{$name}} {{$name}} = {{$info.IDFor .Last}}

{{wrapComment (printf "%ss holds all possible values." $name) 116}}
var {{$name}}s = []{{$name}}{
    {{- range .RealValues}}
    {{$info.IDFor .}},
    {{- end}}
}

{{wrapComment (printf "%s %s." $name .Desc) 120}}
type {{$name}} byte

// EnsureValid ensures this is of a known value.
func (enum {{$name}}) EnsureValid() {{$name}} {
	if enum >= First{{$name}} && enum <= Last{{$name}} {
		return enum
	}
	return Default{{$name}}
}

// Key returns the key used in serialization.
func (enum {{$name}}) Key() string {
    switch enum {
    {{- range .RealValues}}
    case {{$info.IDFor .}}:
        return "{{.Key}}"
    {{- end}}
    default:
        {{- if .DefaultUnknown}}
        return "{{.Default.Key}}"
        {{- else}}
        return Default{{$name}}.Key()
        {{- end}}
    }
}

{{if .HasOldKeys -}}
func (enum {{$name}}) oldKeys() []string {
    switch enum {
    {{- range .RealValues}}
    case {{$info.IDFor .}}:
        return {{if .OldKeys}}[]string{ {{join .OldKeys}} }{{else}}nil{{end}}
    {{- end}}
    default:
        {{- if .DefaultUnknown}}
        return {{if .Default.OldKeys}}[]string{ {{join .Default.OldKeys}} }{{else}}nil{{end}}
        {{- else}}
        return Default{{$name}}.oldKeys()
        {{- end}}
    }
}
{{- end}}

// String implements fmt.Stringer.
func (enum {{$name}}) String() string {
    switch enum {
    {{- range .Values}}
    case {{$info.IDFor .}}:
        return {{if not .NoLocalize}}i18n.Text({{end}}{{printf "%#q" .StringValue}}{{if not .NoLocalize}}){{end}}
    {{- end}}
    default:
        {{- if .DefaultUnknown}}
        return {{if not .Default.NoLocalize}}i18n.Text({{end}}{{printf "%#q" .Default.StringValue}}{{if not .Default.NoLocalize}}){{end}}
        {{- else}}
        return Default{{$name}}.String()
        {{- end}}
    }
}

{{if .HasAlt -}}
// AltString returns the alternate string.
func (enum {{$name}}) AltString() string {
    switch enum {
    {{- range .Values}}
    case {{$info.IDFor .}}:
        return {{if not .NoLocalizeAlt}}i18n.Text({{end}}{{printf "%#q" .Alt}}{{if not .NoLocalizeAlt}}){{end}}
    {{- end}}
    default:
        {{- if .DefaultUnknown}}
        return {{if not .NoLocalizeAlt}}i18n.Text({{end}}{{printf "%#q" .Default.Alt}}{{if not .NoLocalizeAlt}}){{end}}
        {{- else}}
        return Default{{$name}}.AltString()
        {{- end}}
    }
}
{{- end}}

// MarshalText implements the encoding.TextMarshaler interface.
func (enum {{$name}}) MarshalText() (text []byte, err error) {
    return []byte(enum.Key()), nil
}

// UnmarshalText implements the encoding.TextUnmarshaler interface.
func (enum *{{$name}}) UnmarshalText(text []byte) error {
    *enum = Extract{{$name}}(string(text))
    return nil
}

{{wrapComment (printf "Extract%s extracts the value from a string." $name) 120}}
func Extract{{$name}}(str string) {{$name}} {
    for _, enum := range {{$name}}s {
        if strings.EqualFold(enum.Key(), str) {
            return enum
        }
        {{- if .HasOldKeys}}
        if slices.ContainsFunc(enum.oldKeys(), func(s string) bool { return strings.EqualFold(s, str) }) {
            return enum
        }
        {{- end}}
    }
    return Default{{$name}}
}

{{wrapComment (printf "ExtractKnown%s extracts the value from a string, reporting whether the string was actually recognized." $name) 120}}
//
{{wrapComment (printf "Unlike Extract%s, which quietly maps anything it doesn't recognize onto the first value, this permits a caller that is dispatching on the type to detect unknown types." $name) 120}}
func ExtractKnown{{$name}}(str string) (value {{$name}}, known bool) {
    for _, enum := range {{$name}}s {
        if strings.EqualFold(enum.Key(), str) {
            return enum, true
        }
        {{- if .HasOldKeys}}
        if slices.ContainsFunc(enum.oldKeys(), func(s string) bool { return strings.EqualFold(s, str) }) {
            return enum, true
        }
        {{- end}}
    }
    return Default{{$name}}, false
}
