1 VERSIONINFO
FILEVERSION     4,12,0,0
PRODUCTVERSION  4,12,0,0
FILEFLAGSMASK   0
FILEFLAGS       0
FILEOS          0x40004L
FILETYPE        1
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
        	VALUE "CompanyName", "Richard A. Wilkes"
        	VALUE "FileDescription", "GURPS Character Sheet Command Line"
        	VALUE "FileVersion", "4.12"
        	VALUE "InternalName", "gcs_cl"
			VALUE "LegalCopyright", "© Richard A. Wilkes. All rights reserved."
        	VALUE "OriginalFilename", "gcs_cl.exe"
        	VALUE "ProductName", "GURPS Character Sheet"
			VALUE "ProductVersion", "4.12"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
            VALUE "Translation", 0x0409, 0x04B0
    END
END

1 ICON "ico/app.ico"